{% extends "layout.html" %}

{% block main %}

<div class="i-am-centered">
    <div>
        <h5>Courses Monitoring</h5>
    </div>

    <div class="srch">
        <form method="GET">
            <select name="course_code" class="form-control" id="">
                {% for row in courses %}
                <option value="{{row[1]}}">{{row[2]}}{{row[1]}}</option>
                {% endfor %}
            </select>
            <button type="submit" class="btnn">Search</button>
        </form>
    </div>

    <div class="row row-cols-6">

        <table class="table table-striped">
            <tr>
                <th>Course Code</th>
                <th>Course Name</th>
                <th>Teacher ID</th>
                <th>Name</th>
                <th>Time Arrive</th>
                <th>Delete</th>
            </tr>
            {% for row in students %}
            <tr>
                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td>
                <td>{{row[3]}}</td>
                <td>{{row[4]}}</td>
                <td>{{row[5]}}</td>
                <td>
                    <form action="/deletecoursemonitoring">
                        <input name="id" value="{{row[0]}}" type="hidden">
                        <button type="submit" class="btn btn-danger btn-xs">Delete</button>
                    </form>
                    <!-- <a href="/deletecoursemonitoring?id={{row[0]}}" class="btn btn-danger btn-xs" onclick="return confirm('Are you sure to delete?')">Delete</a> -->
                </td>
            {% endfor %}
        </table>
    </div>
</div>

<style>

    .i-am-centered {
        margin: auto;
        margin-top: auto;
        margin-bottom: 20px;
        max-width: 60%;
    }

    h5 {
        margin-top: 30px;
        margin-bottom: 20px;
        text-align: center;
    }

    .srch {
        position: absolute;
        float: left;
    }

    .btnn {
        background-color: #FFC312;
        float: left;
        cursor: pointer;
    }
    
    .btnn:hover {
        background-color: #ffd34e;
    }

    .form-control {
        float: left;
    }

    table {
        margin-top: 100px;
    } 
</style>

{% endblock %}