{% extends "layout.html" %}

{% block main %}

<div class="i-am-centered">
    <div>
        <h5>Course Attendance</h5>
    </div>
    <div class="srch">
        <form method="POST">
            <select class="form-control" name="student_id">
                {% for row in students: %}
                <option value="{{row[0]}}">{{row[1]}}({{row[0]}})</option>
                {% endfor %}
            </select>
            <input name="course_id" value="{{course_id}}" type="hidden">
            <button class="btn">Add Attendance</button>
        </form>
    </div>
    <div class="row row-cols-6">
        <table class="table table-striped">
            <tr>
                <th>Student ID</th>
                <th>Name</th>
                <th>Time Arrive</th>
            </tr>
            {% for row in studentlist: %}
            <tr>
                <td>{{row[0]}}</td>
                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>



<style>
    .i-am-centered {
        margin: auto;
        margin-top: auto;
        margin-bottom: 20px;
        max-width: 60%;
    }

    h5 {
        margin-top: 30px;
        margin-bottom: 20px;
        text-align: center;
    }

    .srch {
        position: absolute;
        float: left;
    }

    .btn {
        background-color: #FFC312;
        float: left;
    }

    .form-control {
        float: left;
    }

    .table {
        margin-top: 100px;
    }
</style>

{% endblock %}