{% extends "layout.html" %}

{% block main %}

<script>
    function show_model({ serial, student_id, course_id }) {
        let modal = $("#modaledit");
        modal.find("input[name=serial]").val(serial);
        modal.find("select[name=student_id]").val(student_id);
        modal.find("select[name=course_id]").val(course_id);
        modal.modal("show");
    }
</script>

<div class="i-am-centered">
    <div>
        <h5>Student's Courses Information</h5>
    </div>

    <div>
        <button type="button" class="btn btn-success pull-right" data-toggle="modal" data-target="#mymodal">Add
            Student's Courses</button>
    </div>

    <div class="srch">
        <select class="form-control" id="select_student">
        </select>
        <button type="button" class="btnn" onclick="search()">Search</button>
    </div>

    {%with messages = get_flashed_messages()%}
    {%if messages%}
    {%for message in messages%}
    <div class="alert alert-info alert-dismissable" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="close">
            <span aria-hidden="true">x</span>
        </button>
        {{message}}
    </div>
    {%endfor%}
    {%endif%}
    {%endwith%}

    <div class="row row-cols-8">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Student ID</th>
                    <th>Name</th>
                    <th>Course Code</th>
                    <th>Course Name</th>
                    <th>Credit</th>
                    <th>Hours</th>
                    <!-- <th>Action</th> -->
                </tr>
            </thead>
            <tbody id="tbody">

            </tbody>
        </table>
    </div>
</div>

<script>
    let data = [
        {% for row in studentcourses: %}
    {
        student_id: "{{row[1]}}",
            name : "{{row[2]}}",
                course_code : "{{row[4]}}",
                    course_name: "{{row[5]}}",
                        credit : "{{row[6]}}",
                            hours : "{{row[7]}}"
    },
    {% endfor %}
    ];
    function create_body(data) {
        let tr = document.createElement("tr");
        tr.innerHTML = `
             <td>${data.student_id}</td>
             <td>${data.name}</td>
             <td>${data.course_code}</td>
             <td>${data.course_name}</td>
             <td>${data.credit}</td>
             <td>${data.hours}</td>
             `;
        return tr;
    }
    let tbody = document.getElementById("tbody");
    for (let d of data) {
        tbody.appendChild(create_body(d))
    }
    let select_student = document.getElementById("select_student");
    let select_map = {};
    for (let d of data) {
        select_map[d.student_id] = d.name;
    }
    for (let key in select_map) {
        let val = select_map[key];
        let option = document.createElement("option");
        option.value = key;
        option.innerText = `${val}(${key})`;
        select_student.appendChild(option);
    }

    function search() {
        let select_student = document.getElementById("select_student");
        tbody.innerText = "";
        for (let d of data) {
            if (d.student_id === select_student.value) {
                tbody.appendChild(create_body(d))
            }
        }
    }
</script>


<div id="mymodal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">Please insert student's course</h6>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form action="studentscourses" method="POST">
                    <div class="form-group">
                        {% if usertype == "administrators": %}
                        <label>Student:</label>
                        <select class="form-control" id="student_id" name="student_id">
                            {% for student in students:%}
                            <option value="{{student[0]}}">{{student[1]}}</option>
                            {% endfor %}
                        </select>
                        {% else %}
                        <input type="hidden" name="student_id" value="{{id}}" />
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label>Course:</label>
                        <select class="form-control" id="course_id" name="course_id">
                            {% for listcourse in listcourses: %}
                            <option value="{{listcourse[0]}}">{{listcourse[1]}}({{listcourse[2]}})</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Insert student's course</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>


<div id="modaledit" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">Please update student's course</h6>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form action="updatestudentscourses" method="POST">
                    <div class="form-group">
                        {% if usertype == "administrators": %}
                        <label>Student:</label>
                        <input type="hidden" name="serial" value="">
                        <select class="form-control" id="student_id" name="student_id">
                            {% for student in students:%}
                            <option value="{{student[0]}}">{{student[1]}}</option>
                            {% endfor %}
                        </select>
                        {% else %}
                        <input type="hidden" name="student_id" value="{{id}}" />
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label>Course:</label>
                        <select class="form-control" id="course_id" name="course_id">
                            {% for listcourse in listcourses: %}
                            <option value="{{listcourse[0]}}">{{listcourse[1]}}({{listcourse[2]}})</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Update student's course</button>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<style>
    .i-am-centered {
        margin: auto;
        margin-top: auto;
        margin-bottom: 20px;
        max-width: 100%;
    }

    h5 {
        margin-top: 30px;
        margin-bottom: 20px;
        text-align: center;
    }

    .btnn {
        background-color: #FFC312;
        float: left;
    }

    .btn {
        float: left;
        margin-bottom: 10px;
    }

    .table {
        margin-top: 50px;
    }
</style>

{% endblock %}